{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="login-title">Change password</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form action ="" method="post" class="login-form">
        {% csrf_token %}
      

      <div>
        <label for="new_password">Password </label>
        <input
               id="new_password"
               type="password"
               placeholder="newpassword"
               name="new_password"
               required
               />
      </div>
      <div>
        <label for="confirm_password">Re confirm Password </label>
        <input
               id="confirm_password"
               type="password"
               placeholder="confirmpassword"
               name="confirm_password"
               required
               />
      </div>
      <input type="hidden" name="user_id" value="{{user_id}}">
      <button class="btn btn--form" type="submit" value="Log in">
        Submit
      </button>
    </form>
</div>
{% endblock %}
