{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="login-title">Forgot Password</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form action ="" method="post" class="login-form">
        {% csrf_token %}
        <div>
            <label for="username">Username </label>
            <input
                   id="username"
                   type="text"
                   placeholder="username"
                   name="username"
                   required
                   />
          </div>

     
      <button class="btn btn--form" type="submit">
        Submit
      </button>
     
    </form>
</div>
{% endblock %}
