<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django file upload</title>
  </head>
  <body>
   <h2>Book List </h2>
   <p>
    <a href="{% url 'upload_book' %}" > Upload Book </a>
   </p>
   <table>
    <thead>
        <th>Title </th>
        <th>Author </th>
        <th>Download </th>
    </thead>
    <tbody>
        {% for book in book %}
        <tr>
            <td> {{ book.title }} </td>
            <td> {{ book.author}} </td>
            <td> <a href="{{ book.pdf.url }}" target="_blank"> Download PDF </a>
            </td>
                
                  
              
        </tr>
        {% endfor %}
    </tbody>

   </table>
</html>